USDA_API_KEY = ""
# EDAMAN_API_KEY = ""
# EDAMAN_APP_ID = ""

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# MogoDB connection string:
DATABASE_URL="mongodb+srv://<username>:<password>@clusterName.example.mongodb.net/<DatabaseName>"

MONGODB_API_KEY = "<API Key>"
# Endpoints in a locally deployed app use a base URL specific to the app's deployment region
# https://www.mongodb.com/docs/atlas/app-services/data-api/generated-endpoints/#base-url
MONGODB_DATA_API_BASE_URL = "https://<Region>.<Cloud>.data.mongodb-api.com/app/<App ID>/endpoint/data/<API Version>"

# Base API URL for routes created in the /api folder
NEXT_PUBLIC_API_URL = "http://localhost:3000"